@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: rgb(26, 26, 34);
  font-family: "Maven Pro", sans-serif;
  color: wheat;
}

/* Cart Styling */

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  color: #008000;
  padding: 0.8rem 1.2rem;
  border-bottom: 1px solid green;
}

.product {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.product h3 {
  font-size: 1rem;
  font-weight: bold;
}

.product p {
  font-size: 0.7rem;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.product-counter {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

.product-counter button {
  border: 0;
  padding: 0.22rem;
  border-radius: 8px;
  background-color: green;
}

#delete-btn {
  border: 0;
}

.total-price {
  display: flex;
  align-items: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .product-counter {
    flex-direction: row;
  }
}
